body{
    font-family: 'Roboto', sans-serif;
}
#logo{
    text-align: center; 
}
.logoPic{
    width: 350px;
    height: auto;
}
#createProfile{
    text-align: center;
    color: #0000CD;
    font-size: 20px; 
}
#profilePicture{
    text-align: center; 
}
#profileInfo{
    text-align: center; 
}
button{
    border-radius: 10px; 
    background-color: #0000CD;
    color: white; 
    font-size: bold;
    padding: 10px;  
}
button:hover{
    background-color: white; 
    color: #0000CD;
}
.submitButton{
    border-radius: 10px; 
    background-color: #0000CD;
    color: white; 
    font-size: bold;
    padding: 10px;  
}
.submitButton:hover{
    background-color: white; 
    color: #0000CD;
}
#business{
    text-align: center; 
}
#name,#email,#tel{
    text-align: center; 
}
input[type=text] {
    border: none;
    border-bottom: 2px solid #0000CD;
}
input[type=number]{
    border: none; 
    border-bottom: 2px solid #0000CD; 
}
input[type=email]{
    border: none; 
    border-bottom: 2px solid #0000CD; 
}
input[type=tel]{
    border: none; 
    border-bottom: 2px solid #0000CD; 
}
input[type=password]{
    border: none; 
    border-bottom: 2px solid #0000CD; 
}
#submit{
    padding: 20px; 
}
#success{
    color: #0000CD;
    text-align: center; 
    font-size: 50px; 
    border-style: double; 
    border-radius: 15px; 
}
.case{
    padding: 20px; 
}
#request{
    text-align: center; 
    padding: 30px; 
}
#offer{
    text-align: center; 
    padding: 30px; 
}
#helpMsg{
    text-align: center; 
}
